.show-button {
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 2px solid purple;
  box-shadow: 1px 1px 10px -1px orange;
  transition: all 0.30s ease;
  padding: 5px;
  position: absolute;
  top: 300px;
  right: 300px;
}

.hide-button {
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 2px solid purple;
  box-shadow: 1px 1px 10px -1px orange;
  transition: all 0.30s ease;
  padding: 5px;
  position: absolute;
  top: 300px;
  right: 300px;
}